@import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css';
/* @import '~antd/dist/antd.css'; */
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Rubik|Alfa+Slab+One|Hind+Vadodara:300,400,500,600|Monoton|Playball');
@import '~semantic-ui-css/semantic.min.css';


html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0px;
}

a {
  text-decoration: none;
}

.container-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background: #f8f6f6 url(./img/emailbackground3.jpg) no-repeat center / cover; */
}

/* .container-section:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
} */

.header-section {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  color: black;
  z-index: 3;
}

.header-section .login-btn, .header-section .user-profile-dropdown{
  /* padding-left: 50px; */
  margin-left: auto;
}

.user-profile-dropdown {
  align-self: center;
  padding: 15px
}

.content-section {
  flex-grow: 1;
  font-family: 'Hind Vadodara', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: black;
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* .content-wrapper {
  background: #000;
  opacity: 0.6;
  padding: 100px;
} */

.content-section .header-bold {
  font-family: 'Rubik', sans-serif;
  font-family: 'Alfa Slab One', cursive;
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 30px;
  letter-spacing: 3px;
}

.header-border {
  border-bottom: 5px solid #000;
}

.sub-header-bold {
  font-family: 'Alfa Slab One', cursive;
  font-size: 25px;
  font-weight: 300;
  padding: 15px 0;
  letter-spacing: 1px;
}

.description-section {
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
}

.logo-text {
  padding: 30px;
  font-size: 30px;
  font-family: 'Playball', cursive;
}

.logo-text a {
  color: black;
}



.login-btn, .signup-btn {
  border: 2px solid #000;
  border-radius: 7px;
  font-weight: 500;
  padding: 10px;
  margin-right: 25px;
  align-self: center;
}

.login-btn a, .signup-btn a{
  color: black;
}

.login-btn:hover, .signup-btn:hover {
  border: 3px solid #000000;
  border-radius: 7px;
  font-weight: 500;
  padding: 10px;
  margin-right: 25px;
  align-self: center;
}


/* loging/signupform section */
.login-box-container {
  flex-grow: 1;
  align-self: center;
  justify-self: center;
  display: flex;
  box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.login-box-wrapper {
  display: flex;
  background: #000;
  opacity: 0.8;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  border-radius: 10px;

}

.login-title {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Hind Vadodara', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  margin: 0;
  color: #FFF;
}

.login-item {
  color: #FFF;
  padding: 25px 25px 0;
  border-radius: 3px;
}

.login-item input {
  border: 0;
  /* color: inherit;
  font: inherit;
  margin: 0; */
  outline: 0;
  padding: 0;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.user:before {
  content: '\f007';
  font: 14px fontawesome;
  /* color: #5b5b5b; */
  color: white;
}

.lock:before {
  content: '\f023';
  font: 14px fontawesome;
  /* color: #5b5b5b; */
  color: white;
}

.form input[type="password"], .form input[type="text"], .form input[type="submit"] {
  width: 100%;
}

.form-login label,
.form-login input[type="text"],
.form-login input[type="password"],
.form-login input[type="submit"] {
  border-radius: 0.25rem;
  padding: 1rem;
  color: #3A3F44;  
}

.form-login label {
  background-color: #222222;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.form-login input[type="text"], .form-login input[type="password"] {
  background-color: #ffffff;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.form-login input[type="submit"] {
  background-color: rgb(250, 246, 26);
  color: #1f1d1d;
  font-weight: bold;
  text-transform: uppercase;
}
.form-login input[type="submit"]:focus, .form-login input[type="submit"]:hover {
  background-color: #7c4700;
}
.form-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.signup-link {
  /* text-align: center; */
  align-self: center;
  justify-self: center;
  color: #fff;
  padding: 5px;
}

.signup-link a {
  color: white;
}

.signup-link:hover {
  border: 1px solid #ffffff;
  border-radius: 5px;
}


.error-msg {
  margin-bottom: 10px;
  color: red;
}

.footer-section {
  font-family: 'Courier New', Courier, monospace;
  z-index: 3;
  text-align: center;
}

.footer-section a {
  color: red;
}

.dashboard-section {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.list-item {
  padding-bottom: 50px;
}

.nav-span:hover {
  padding-bottom: 7px;
  border-bottom: 3px solid black;
}

.border-bottom-class {
  padding-bottom: 7px;
  border-bottom: 3px solid black;
}

.content-heading {
  font-size: 25px;
  padding: 25px 0;
}

.heading-underline {
  padding-bottom: 5px;
  border-bottom: 4px solid #000;
}

.heading-form-underline {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 4px solid white;
}

.email-form-heading {
  margin: 10px;
}

/* .add-contact-form-section {
  width: 340px;
} */

/* .main-content-section {
  border: 1px solid black;
} */




